{% extends 'base.html' %}

{% block head %}
  <h1>{% block title %}Log In{% endblock %}</h1>
{% endblock %}

{% block body %}
  <p>Usuarios de paga</p>
  <form action="/" method="POST">
    <input type="username" name="username" placeholder="Username"><br>
    <input type="password" name="password" placeholder="Password"><br>
    <input type="submit" value="Log in">
  </form>
  <br>
  <p>¿No eres un usuario pago? No te preocupes, puedes jugar a los juegos que te gustan según su categoria</p>
  <a href="categorias">aquí</a>
{% endblock %}
