{% extends 'base.html'%}

{% block head%}
<link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
{% endblock %}

{% block body%}
  <div class="content">
    {%for juego in juegos_rec%}
    <h1>{{juego}}<br></h1>
    <p>
      <img src="{{juegos[juego]['foto']}}" width="400"  alt="problema carga imagen" /><br/>   
      <h4>descripcion: </h4><br>
      {{juegos[juego]['descripcion']}}<br>
      <a href="{{juegos[juego]['link']}}">Jugar!</a>
    </p>
    {% endfor %}
  </div>
{% endblock %}
